<?xml version='1.0' encoding='utf-8'?>
<widget id="me.petrmakarov.game2048" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>2048</name>
    <description>
        2048 game
    </description>
    <icon src="res/icon.png" />
    <author email="piotr.makarov@gmail.com" href="http://example.com">
        Petr Makarov
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!-- <preference name="TransparentNavigationBar" value="true" /> -->

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
