:root {
	--size: 450px;
	--radius: 5px;
	--spacing: 14px;

	--timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	--transition: .1s;
}

body, .block, .message {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

body {
	margin: 0;
	height: 100vh;

	font-family: roboto;
	font-size: 30px;
}

.container {
	position: relative;
	width: var(--size);
	height: var(--size);
}

.container > * {
	position: absolute;
	padding: var(--spacing);
	width: inherit;
	height: inherit;
}

.message {
	background: #fffa;
	font-weight: bold;
	font-size: 60px;
	transition: .3s;
}

.message.hidden {
	opacity: 0;
}

.field {
	display: grid;
	grid-template-rows: repeat(var(--height), 1fr);
	grid-template-columns: repeat(var(--width), 1fr);
	grid-gap: var(--spacing);
}

.bg {
	border-radius: var(--radius);
	background: #aaa;
}

.bg .block {
	background: #bbb;
}

.block {
	border-radius: var(--radius);
	background: #e72828;
	user-select: none;
}

@keyframes blockAppearAnimation {
	0% {
		opacity: 0;
		transform: scaleX(0) scaleY(0);
	}

	100% {
		opacity: 1;
		transform: scaleX(1) scaleY(1);
	}
}

.field:not(.bg) .block {
	animation: var(--transition) var(--timing-function) 0s 1 blockAppearAnimation;
}

a {
	text-decoration: none;
	color: #aaa;
	cursor: pointer;
}

a:hover {
	color: #bbb;
}
