:root {
	--size: 70px;
	--radius: 7px;
	--spacing: 7px;
}

body, .block {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	margin: 0;
	height: 100vh;

	font-family: roboto;
}

.container {
	position: relative;
}

.container > * {
	position: absolute;
}

.field {
	display: grid;
	grid-template-rows: repeat(var(--height), var(--size));
	grid-template-columns: repeat(var(--width), var(--size));
	grid-gap: var(--spacing);
	padding: var(--spacing);
}

.bg {
	border-radius: var(--radius);
	background: #aaa;
}

.bg .block {
	background: #bbb;
}

.block {
	border-radius: var(--radius);
	background: #e72828;
	user-select: none;
}
