img[alt$="www.000webhost.com"] { display: none; } /* for 000webhost */

:root {
	--size: 100px;
	--radius: 5px;
	--spacing: 13px;

	--timing-function: ease;
	--transition: .2s;
	--transition-move: .1s;

	--container-width: calc(var(--size) * var(--width) + var(--spacing) * (var(--width) - 1));
	--container-height: calc(var(--size) * var(--height) + var(--spacing) * (var(--height) - 1));
}

body, .block, .message {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

body {
	margin: 0;
	height: 100vh;

	font-family: roboto;
}

* {
	font-size: 27px;
	font-weight: bold;
}

.container {
	display: flex;
	flex-direction: column;
}

.container > * {
	margin: 6px 0;
}

.button {
	margin: 0 10px;

	cursor: pointer;
	user-select: none;
}

.message .button, .settings .button {
	margin: 15px calc(var(--spacing) / 2);
	padding: 5px 10px;

	border-radius: var(--radius);
	background: black;
	color: white;
}

.horizontal-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.horizontal-menu.tight {
	justify-content: center;
}

.settings {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.settings > .horizontal-menu {
	margin: 6px;
	width: 100%;
}

.settings > * {
	margin: 10px 0;
}

input {
	border-radius: var(--radius);
	border: none;
	outline: none;
	margin: 0 10px;
	padding: 5px 10px;
	width: 30px;
	font-size: 25px;
}

/* Hide number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.field-container {
	position: relative;
	width: calc(var(--container-width) + var(--spacing) * 2);
	height: calc(var(--container-height) + var(--spacing) * 2);
	user-select: none;
}

.field-container > * {
	position: absolute;
	padding: var(--spacing);
	border-radius: var(--radius);
	width: var(--container-width);
	height: var(--container-height);
}

.message {
	background: #fffa;
	text-align: center;
	transition: .3s;
}

.message h1 {
	font-size: 60px;
	margin: 0;
}

.message.hidden {
	opacity: 0;
	visibility: hidden;
}

.field.bg {
	display: grid;
	grid-template-rows: repeat(var(--height), 1fr);
	grid-template-columns: repeat(var(--width), 1fr);
	grid-gap: var(--spacing);
}

.bg {
	background: #aaa;
}

.bg .block {
	background: #bbb;
}

.block {
	width: var(--width);
	height: var(--height);
	border-radius: var(--radius);
	user-select: none;
	font-weight: normal;
}

@keyframes block-appear-animation {
	0% {
		opacity: 0;
		transform: scaleX(0) scaleY(0);
	}

	100% {
		opacity: 1;
		transform: scaleX(1) scaleY(1);
	}
}

@keyframes block-merge-animation {
	0% {
		opacity: 0;
		transform: scaleX(0) scaleY(0);
	}

	50% {
		opacity: 1;
		transform: scaleX(1.1) scaleY(1.1);
	}

	100% {
		transform: scaleX(1) scaleY(1);
	}
}

.field:not(.bg) .block {
	position: absolute;
	transition: var(--transition-move);
	animation: var(--transition) var(--timing-function) 0s 1 block-appear-animation;
}

.field:not(.bg) .block.merge {
	animation: var(--transition) var(--timing-function) 0s 1 block-merge-animation;
}
