@keyframes block-appear-animation {
    0% {
        opacity: 0;
        transform: scaleX(0) scaleY(0);
    }

    100% {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes block-delete-animation {
    0% {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }

    100% {
        opacity: 0;
        transform: scaleX(0) scaleY(0);
    }
}

@keyframes block-merge-animation {
    0% {
        opacity: 0;
        transform: scaleX(0) scaleY(0);
    }

    50% {
        opacity: 1;
        transform: scaleX(1.1) scaleY(1.1);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes block-unmerge-animation {
    0% {
        transform: scaleX(1) scaleY(1);
    }

    30% {
        opacity: 1;
        transform: scaleX(1.1) scaleY(1.1);
    }

    100% {
        opacity: 0;
        transform: scaleX(0) scaleY(0);
    }
}

@keyframes block-unmerge-move-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.block {
    transition: var(--transition-move);
}

.field:not(.bg) .block {
    position: absolute;
    animation: var(--transition) var(--timing-function) 0s 1 block-appear-animation;
}

.field:not(.bg) .block.merge {
    animation: var(--transition) var(--timing-function) 0s 1 block-merge-animation;
}

.field:not(.bg) .block.unmerge {
    animation: var(--transition) var(--timing-function) 0s 1 block-unmerge-animation;
}

.field:not(.bg) .block.unmerge-move {
    animation: var(--transition) var(--timing-function) 0s 1 block-unmerge-move-animation;
}

.field:not(.bg) .block.delete {
    animation: var(--transition) var(--timing-function) 0s 1 block-delete-animation;
}
