body {
    --interface-spacing: 13px;

    --default-size: 100px;
    --default-spacing: 13px;

    --size: 100px;
    --spacing: 13px;
    --radius: calc(var(--spacing) * .35);
    --default-radius: calc(var(--interface-spacing) * .35);
    --field-font-size: calc(var(--spacing) * 2.7);
    --font-size: calc(var(--interface-spacing) * 2);

    --padding-height: calc(var(--interface-spacing) * .3);
    --padding-width: calc(var(--padding-height) * 2);
    --padding: var(--padding-height) var(--padding-width);
    --menu-elem-margin: calc(var(--padding-height) * 1.2);

    --timing-function: ease;
    --transition: .2s;
    --transition-move: .1s;

    --container-width: calc(var(--size) * var(--width) + var(--spacing) * (var(--width) - 1));
    --container-height: calc(var(--size) * var(--height) + var(--spacing) * (var(--height) - 1));
}

body, .block, .message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

body {
    margin: 0;
    height: 100vh;

    background: var(--color2);
}

* {
    font-family: roboto;
    font-size: var(--font-size);
    color: var(--color1);
    transition-property: color, background;
    transition-duration: var(--transition);

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    /* Fix flickering effect on animation in Firefox */
    /* Impairs performance on big fields on android */

   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;

   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   perspective: 1000;

   /* Other transform properties here */
}

.block {
    font-size: var(--field-font-size);
    font-weight: 200; /* lighter */
}


/* Container */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > * {
    margin: var(--menu-elem-margin) 0;
}


/* Settings */

.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.settings > .horizontal-menu {
    margin: var(--menu-elem-margin);
    width: 100%;
}


/* Field container */

.field-container {
    position: relative;
    width: calc(var(--container-width) + var(--spacing) * 2);
    height: calc(var(--container-height) + var(--spacing) * 2);
    user-select: none;
}

.field-container > * {
    position: absolute;
    padding: var(--spacing);
    border-radius: calc(var(--radius) * 1.5);
    width: var(--container-width);
    height: var(--container-height);
}
